/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.card-item{
    border-left: 8px solid green;
} */